.main{
    display: flex;
    text-align: center;
    justify-content: center;
}
.load{
    margin: 20px;
    height: 100px;
    width: 100px;
    border: 1.5px solid #0f1111;
    border-radius: 50%;
    border-bottom-color: white;

    animation: prac 1s steps(100) 0s infinite;
}

@keyframes prac{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}